# Python bytecode und Cache
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
.venv/

# IDE und Editor Dateien
.vscode/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Logs und temporäre Dateien
*.log
*.tmp

# Umgebungsvariablen-Datei (Passwörter etc.)
.env
*.env

# Flask migrations
migrations/

# Pictures
*.jpg

# Settings
settings.json